@if (TempData["MSG"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["MSG"]
    </div>
}
<section class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="heading_container ">
                    <h2 class="">
                        Contact Us
                    </h2>
                </div>
                <form method="post" asp-action="add_contact" asp-controller="Home">
                    <div>
                        <input type="text" placeholder="Name" name="name" />
                    </div>
                    <div>
                        <input type="email" placeholder="Email" name="email" />
                    </div>
                    <div>
                        <input type="text" placeholder="Pone Number" name="phone" />
                    </div>
                    <div>
                        <input type="text" class="message-box" placeholder="Message" name="massage" />
                    </div>
                    <div class="btn-box">
                        <button>
                            SEND
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/images/contact-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>